---
import Layout from '../layouts/Layout.astro';

const separateSteps = (steps: Array<any>, separator: any) => {
	const result: Array<any> = [];
	const lastIdx = steps.length - 1;
	steps.forEach((step, idx) => {
		result.push(step);
		if (idx < lastIdx) {
			result.push(separator);
		}
	});
	return result;
}
---

<Layout title="Boilerplate" description="Home page">
	<section class="hero section-space-bottom">
		<div class="container container_wide">
			<div class="container container_short hero__body">
				<div class="hero__col">
					<h1 class="hero__title">Lorem ipsum dolor amet, consectetuer adipiscing elit sed</h1>
					<div class="hero__actions">
						<a href="" class="btn btn_primary btn_rect-lg">Free Trial</a>
						<a href="" class="btn btn_clear btn_rect-lg">Learn More</a>
					</div>
				</div>
				<div class="hero__col">
					<img src="img/animation-placeholder.png" alt="Animation placeholder" class="hero__animation" />
				</div>
			</div>
		</div>
	</section>
	<section class="steps section-space">
		<div class="container container_wide steps__container">
			<picture>
				<source media="(min-width: 1024px)" srcset="img/steps-bg-1.5x.webp" />
				<img src="img/steps-bg-0.75x.webp" alt="Steps background" class="steps__bg">
			</picture>
			<div class="ratio-wrap steps__decor steps__decor_a">
				<img src="img/circular-decor.svg" alt="Circular decor" class="ratio-wrap__item">
			</div>
			<div class="ratio-wrap steps__decor steps__decor_b">
				<img src="img/circular-decor.svg" alt="Circular decor" class="ratio-wrap__item">
			</div>
			<div class="ratio-wrap steps__decor steps__decor_c">
				<img src="img/circular-decor.svg" alt="Circular decor" class="ratio-wrap__item">
			</div>
			<div class="container container_short">
				<h2 class="steps__title section__title section__title_lg">How it works: 3 steps</h2>
				<div class="steps__list">
					{
						separateSteps([
							{
								label: "Step 1",
								description: "Customer receives SMS/Email",
								icon: "mail"
							},
							{
								label: "Step 2",
								description: "Feedback received",
								icon: "eye"
							},
							{
								label: "Step 3",
								description: "Customer receives SMS/Email",
								icon: null,
							}
						].map((meta) => <div class="steps__card step-card">
							<div class="step-card__label">{meta.label}</div>
							{
								meta.icon ? <div class="step-card__icon-wrap">
									<div class:list={["step-card__icon", `icon-${meta.icon}`]}></div>
								</div> : 
								<div class="ratio-wrap ratio-wrap_contain step-card__logo">
									<img src="img/logo-mark.svg" class="ratio-wrap__item" />
								</div>
							}
							<div class="step-card__description">{meta.description}</div>
						</div> ), <div class="steps__separator"></div>)
					}
				</div>
			</div>
		</div>
	</section>
	<section class="boost section-space">
		<div class="container container_wide">
			<div class="container container_short boost__body">
				<div class="boost__col boost__col_img">
					<div class="ratio-wrap ratio-wrap_contain boost__img">
						<img src="img/boost.svg" alt="Boost" class=" ratio-wrap__item">
					</div>
				</div>
				<div class="boost__col boost__col_info">
					<h2 class="boost__title section__title">Boost your ratings,<br>Boost your business</h2>
					<div class="boost__msg">Google reviews drive sales. 95% of your happy customers never leave reviews. We change that to make more happy customers leave 5-star Google reviews for what you do best.</div>
					<div class="boost__actions">
						<a href="" class="btn btn_primary btn_rect-lg">Free Trial</a>
						<a href="" class="btn btn_clear btn_rect-lg">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="advantages section-space">
		<div class="container container_wide advantages__container">
			<div class="container container_short advantages__body">
				{
					[
						{
							icon: "fast-setup",
							text: "Fast Setup"
						},
						{
							icon: "feedback",
							text: "Automated Feedback"
						},
						{
							icon: "five-stars",
							text: "More 5-star Reviews"
						},
						{
							icon: "free-trial",
							text: "3-month Free Trial"
						}
					].map(meta => <div class="advantages__item">
						<img src={`img/icons/${meta.icon}.svg`} class="advantages__icon" />
						<div class="advantages__text">{meta.text}</div>
					</div> )
				}
			</div>
		</div>
	</section>
	<section class="packages section-space">
		<div class="container container_wide">
			<div class="container container_short packages__body">
				<h2 class="packages__title section__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</h2>
				<div class="packages__list">
					{
						[
							{
								label: "Basic",
								description: "Short description of who it's perfect for",
								icon: "package-basic",
								items: [
									"Ut wisi enim ad minim veniam, quis nostrud exerci tation;",
									"Duis autem vel eum iriure dolor;",
									"Velit esse molestie consequat, vel illum dolore eu feugiat;",
									"Quis nostrud exerci tation ullamcorper suscipit lobortis;",
									"Nibh euismod tincidunt ut;",
									"Feugiat nulla facilisis at.",
								],
								price: "$1,200",
							},
							{
								label: "Step 2",
								description: "Feedback received",
								icon: "package-pro",
								items: [
									"Ut wisi enim ad minim veniam, quis nostrud exerci tation;",
									"Duis autem vel eum iriure dolor;",
									"Velit esse molestie consequat, vel illum dolore eu feugiat;",
									"Quis nostrud exerci tation ullamcorper suscipit lobortis;",
									"Nibh euismod tincidunt ut;",
									"Feugiat nulla facilisis at.",
								],
								price: "$1,800",
							},
							{
								label: "Step 3",
								description: "Customer receives SMS/Email",
								icon: "package-enterprise",
								items: [
									"Ut wisi enim ad minim veniam, quis nostrud exerci tation;",
									"Duis autem vel eum iriure dolor;",
									"Velit esse molestie consequat, vel illum dolore eu feugiat;",
									"Quis nostrud exerci tation ullamcorper suscipit lobortis;",
									"Nibh euismod tincidunt ut;",
									"Feugiat nulla facilisis at.",
								],
								price: "$2,400",
							}
						].map((meta) => <div class="packages-card">
															<div class="packages-card__header">
																<div class="packages-card__label">{meta.label}</div>
																<img src={`img/icons/${meta.icon}.svg`} alt="Package icon" class="packages-card__icon" />
																<div class="packages-card__description">{meta.description}</div>
																
															</div>
															<div class="packages-card__separator"></div>
															<ul class="packages-card__features">
																{
																	meta.items.map(text => <li class="packages-card__item">{text}</li>)
																}
															</ul>
															<div class="packages-card__price">{meta.price}</div>
															<a href="" class="btn btn_primary btn_rect-lg packages-card__btn">Start now</a>
														</div>
						)
					}
				</div>
			</div>
	</section>
	<section class="tesimonials section-space" data-component="testimonials">
		<div class="tesimonials__wrap">
			<div class="tesimonials__inner">
				<div class="tesimonials__bg ratio-wrap ratio-wrap_contain">
					<img src="img/testimonials-bg.webp" alt="Testimonials background" class="ratio-wrap__item">
				</div>
				<div class="container container_wide tesimonials__container">
					<div class="container container_short tesimonials__body">
						<div class="ratio-wrap tesimonials__decor">
							<img src="img/circular-decor.svg" alt="Circular decor" class="ratio-wrap__item">
						</div>
						<div class="tesimonials__title section__title section__title_lg">Testimonials</div>
						<div class="tesimonials__slider swiper" data-elem="testimonials.slider">
							<div class="swiper-wrapper">
									{
										[
											{
												name: "Brooklyn Simmons",
												company: "Company Name",
												avatar: "avatar-01",
												stars: 5,
												msg: "Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at."
											},
											{
												name: "Robert Fox",
												company: "Company Name",
												avatar: "avatar-02",
												stars: 5,
												msg: "Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at."
											},
											{
												name: "Brooklyn Simmons",
												company: "Jacob Jones",
												avatar: "avatar-03",
												stars: 5,
												msg: "Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at."
											},
										].map((meta) =>  <div class="tesimonials-card swiper-slide">
																			<div class="tesimonials-card__top">
																				<img src={`img/testimonials/${meta.avatar}.webp`} alt="Client's avatar" class="tesimonials-card__avatar">
																				<div class="tesimonials-card__name">{meta.name}</div>
																			</div>
																			<div class="tesimonials-card__middle">
																				<div class="tesimonials-card__company">{meta.company}</div>
																				<div class="tesimonials-card__stars">
																					{ Array(meta.stars).fill(0).map(() => <div class="icon-star"></div>) }
																				</div>
																			</div>
																			<div class="tesimonials-card__msg">{meta.msg}</div>
																		</div> )
									}
							</div>
						</div>
						<div class="tesimonials__slider-nav">
							<button type="button" class="btn btn_slider-nav" data-elem="testimonials.slider.prev">
								<span class="btn__label btn__babel_hidden"></span>
								<span class="icon-arrow-left btn__icon"></span>
							</button>
							<button type="button" class="btn btn_slider-nav" data-elem="testimonials.slider.next">
								<span class="btn__label btn__babel_hidden"></span>
								<span class="icon-arrow-right btn__icon"></span>
							</button>
						</div>
						<div class="tesimonials__actions">
							<a href="" class="btn btn_primary btn_rect-lg">Free Trial</a>
							<a href="" class="btn btn_clear btn_rect-lg">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>